@import '../../global-scss-values.css';

/*  ==================================================
                      Component CSS
    ==================================================*/
.headingLogoView
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: $skyBlue;
    height: 100%;
    width: 100%;
    min-width: 9rem;
}

.logoPanel
{
    display: inline-block;
    table-layout: fixed;
    width: 80%;
    height: 80%;
    text-align: center;
}

.tagLogo
{
    @mixin vertical-center;
    height: auto;
    width: auto;
    max-width: 100%;
    max-height: 100%;
}

@import './heading-media-queries.css';
