@import '../../global-variables.css';

/*  ==================================================
                    Mixin Definitions
    ==================================================*/
@define-mixin logoDivs
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: $skyBlue;
}

/*  ==================================================
                      Component CSS
    ==================================================*/
.headingLogoView
{
    @mixin logoDivs;
    height: 100%;
    width: 100%;
}

.logoPanel
{
    @mixin logoDivs;
    background-color: $white;
    width: 40%;
    height: 80%;
}

.tagLogo
{
    max-width: 100%;
    max-height: 100%;
}
