/*  ==================================================
     The following CSS will be imported into the rest
      of the project's top level components to avoid
                 repetition and clutter.

           CSS Variable Definitions with PreCSS
    ==================================================*/
$logoBlue : rgb(0, 125, 241);
$skyBlue : rgb(180, 213, 242);
$navyBlue : rgb(0, 17, 109);
$iceBlue : rgb(236, 248, 255);
$white : rgb(255, 255, 255);
$black : rgb(0, 0, 0);
$errorRed : rgb(255, 0, 0);

/*  ==================================================
            Mobile Device Media Query Variables
    ==================================================*/
$mobileDisplayHeight : 23rem;
$mobileDisplayWidth : 44rem;

/*  ==================================================
                       Global CSS
    ==================================================*/
body
{
    background-color: $navyBlue;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

/*  ==================================================
                       Global Mixins
    ==================================================*/
@define-mixin vertical-center
{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
