/*  ==================================================
            Define Colour Variables with PreCSS
    ==================================================*/
$logoBlue : rgba(0, 125, 241, 1);
$skyBlue : rgba(180, 213, 242, 1);
$navyBlue : rgba(0, 12, 77, 1);
$iceBlue : rgba(236, 248, 255, 1);
$white : rgba(255, 255, 255, 1);

body
{
    background-color: $navyBlue;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

.homeBodyView
{
    position: absolute;
    top: 160px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $navyBlue;
}

@media (max-height: 400px) {
    .homeBodyView
    {
        top: 50px;
    }
}

.homeBodyDisplay
{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    width: 979px;
    height: 100%;
    background-color: $white;
    overflow: auto;
}

.homeBodyDisplay > h1, h2, p
{
    margin: 5px 10px 0px 10px;
}
